# Byte-compiled / optimized / DLL files
__pycache__/

# for plebs
**/.vscode/

# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinemaGenerator2000/numpy
/CinemaGenerator2000/cinema.txt
/CinemaGenerator2000/cinema_online.txt

OfflineTests/bin/*
Offline/Offline.cs/bin/*
Offline/Offline.cs/obj/
Offline/OfflineTests.cs/obj/
*/.vs/*
/Online/__pycache__
/Online/obj
/Online/bin/Debug/netcoreapp3.1
.vs/

/Offline/Offline.cs/tune/*
/Offline/Offline.cs/results/*