################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinemaGenerator2000/numpy
/CinemaGenerator2000/.vs/CinemaGenerator2000/v16
/CinemaGenerator2000/cinema.txt
