################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinemaGenerator2000/numpy
/CinemaGenerator2000/cinema.txt
/CinemaGenerator2000/cinema_online.txt
*/.vs/*
/Online/__pycache__
/Online/obj
/Online/bin/Debug/netcoreapp3.1
